.nav-body {
    background-color: #49E3D5;
    height: 64px;
    display: grid;
    grid-template-columns: 300px auto 300px;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    .site-title {
        h3 {
            cursor: pointer;
        }
    }
    .site-links {
        // background-color: white;
        width: 250px;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-items: center;
        h5 {
            padding: 20px;
            width: fit-content;
            // margin: 0 8px 0 8px;
            cursor: pointer;
        }
        h5:hover {
            border-bottom-style: solid;
            border-bottom-width: 5px;
            border-color: white;
            // background: rgba(255, 255, 255, 0.2);
        }
    }
    .site-user:hover .siteUser-content {
        display: block;
    }
    .siteUser-content {
        display: none;
        position: absolute;
        background-color: #E9E9E9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .site-user .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        h5:hover {
            cursor: pointer;
        }
    }
    // .siteUser-content a {
    //     float: none;
    //     color: white;
    //     padding: 12px 16px;
    //     text-decoration: none;
    //     display: block;
    //     text-align: left;
    // }
    // .siteUser-content a:hover {
    //     background-color: #ddd;
    // }
}