<div class="btns">
    <button (click)="toggleDisplay();getAll()">Get All</button>
    <button (click)="toggleDisplay1();patchValues()" class="btnPatch">Patch</button>
    <button (click)="putValues()" class="btnPut">Put</button>
    <button (click)="toggleDisplay3();delValues()" class="btnDelete">Delete</button>
</div>
<div class="mainContent">
    <div class="innerContent">
        <!-- if the getall button is clicked, all users will be displayed.  -->
        <div *ngIf="enable" class="layouts">
            <div *ngFor="let user of userList.data ">
                <div>{{ user | json }}</div>
            </div>
        </div>
        <!-- <div *ngIf="enable_1" class="layouts">
            <form class="inputsPatch">
                <label for="NAME ">Name</label>
                <input type="text " name="NAME " formControlName="fcName " />
                <label for="AGE ">Age</label>
                <input type="number " name="AGE " formControlName="fcAge " />
                <label for="EMAIL ">Email</label>
                <input type="email " name="EMAIL " formControlName="fcEmail " />
                <label for="PASSWORD ">Password</label>
                <input type="password " name="PASSWORD " formControlName="fcPassword " />
                <label for="PASSWORD_2 ">Confirm Password</label>
                <input type="password " name="PASSWORD_2 " formControlName="fcPassword2 " />

                <button type="submit ">Patch Values</button>
            </form>
        </div> -->
        <div>

        </div>
    </div>