.mainContent {
    background-color: lightpink;
    height: inherit;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

.innerContent {
    background-color: white;
    position: static;
    min-width: 600px;
    min-height: 400px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.layouts {
    // background-color: white;
    // margin: 0;
    // text-align: center;
    // position: inherit;
    background-color: white;
    position: inherit;
    min-width: 600px;
    min-height: 400px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputsPatch {
    display: flex;
    flex-direction: column;
    label {
        padding-bottom: 4px;
        padding-top: 4px;
    }
    input {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.btns {
    padding: 42px 24px;
    text-align: center;
    background-color: #eceff1dc;
}

button {
    align-self: center;
    width: 240px;
    height: 35px;
    border-radius: 15px;
    border-width: 1px;
    font-family: "Roboto", sans-serif;
    margin-left: 10px;
}